body{
    font-family: tahoma, arial , sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

#section_normal_1{
    display: flex;
    align-items: center;
    height: 80px;
}
#section_normal_4_2{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 660px;
    background-color: black;
    color: white;
}
#section_normal_6{
    background-color: hsl(0deg 0% 93.33%);
    height: 400px;
    display: flex;
    justify-content: center;
}
#section_agency_5{
   height: 400px;
}

.bold_text{
    font-weight: bold;
}
.blue_text{
    color:  hsl(192.83deg 80.26% 54.31%);;
}
.green_text{
    color: hsl(132.38deg 29.03% 42.55%)!important;
}
.big_text{
    font-size: 22px;
}
.medium_title{
    font-size: 24px!important;
}
.big_title{
    font-size: 45px;
}
.light_gray{
    color: lightgray;
}
.medium_black{
    color: black;
    opacity: 0.7;
}

.normal_text{
    font-size: 16px;
    margin: 10px 0px;
}
.txt{
    font-size: 16px;
    color:  hsl(0deg 0% 70.2%);
    
    margin: 10px;
}
.stars_span{
    margin-left: 10px;
}




.container{
    width: 66%;
    margin: auto;
}

.header_style{
    width: 100%;
}   

.header_style > .container > .columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.two-thirds{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
.pix_text{
    font-size: 12px;
    color: black;
    opacity: 0.4;
    
}
.htext_style{
    margin-right: 30px;
}
.social_button {
    margin-right: 8px;
}


#section_normal_4_2 .container .columns{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
}
#section_normal_4_2 .container .omega{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.pix_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    width: 140px;
    height: 40px;
    background-color:   hsl(192.83deg 80.26% 54.31%);
    border-radius: 2px;
}
#section_normal_6 .container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}
.content_stbox{
    display: flex;
    flex-direction: row;
}

#section_normal_6 .L1_style {
    margin-top: 60px;
}
#section_normal_6 .L2_style{
    margin-bottom: 60px;
}
#section_normal_6 .pix_builder_bg{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 115px;
}
#section_normal_6 .box_1 , .box_2 {
    background-color: white;
}
#section_normal_6 .box_1{
    margin-right: 15px;
}
#section_normal_6 .box_2{
    margin-left: 15px;
}

.b_style{
    height: 100%;
    width: 90px;
    background-color:hsl(0deg 0% 96.08%);
    display: flex;
    align-items: center;
}
.b_style > img{
    border-radius: 50%;
    width: 60px;
    height: auto;
    margin: 15px;
}

#section_agency_5 .container .columns{
    padding: 30px 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.f2_style{
    margin-top: 20px;
    text-align: center;
}

.get_2_btn > a{
    border: 2px solid ;
    font-weight: 600;
    padding: 20px;
    
}
.second_link{
    margin: 50px 0px;
}
#section_agency_5 .center_btn {
    margin-top: 50px;
}

